@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&family=Mrs+Saint+Delafield&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Cormorant Garamond", serif;
}

.html {
  font-size: 62.5%;
}

.container {
  padding: 0 6.4rem;
  height: 100vh;
  position: relative;
  z-index: 1000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.logo {
  width: 30rem;
  padding: 2rem;
  margin: 0 -8.5rem;
}

.navigation {
  padding: 3rem;
  position: relative;
}

.navigation__nav {
  margin-right: 5.5rem;
}

.navigation__nav--shopping-cart {
  width: 1.5rem;
}

.navigation__nav--home, .navigation__nav--about, .navigation__nav--menu, .navigation__nav--contact, .navigation__nav--login {
  font-size: 1.5rem;
  color: var(--color-font-normal);
  font-weight: 300;
}

.navigation__logo {
  width: 30rem;
  position: absolute;
  top: 1rem;
  left: -7rem;
}

.home-background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.nav__medium {
  padding: var(--spacing-heading) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__medium--logo {
  width: 15rem;
  display: inline-block;
}

.nav__medium--hamburger, .nav__medium--shopping-cart {
  width: 2rem;
}

.header {
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: top;
}

.header__text-box {
  position: absolute;
  z-index: 10;
  color: var(--color-font-normal);
  font-weight: light;
  text-align: center;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
  top: 38%;
  left: 20%;
}

.header__text-box--main {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: var(--font-heading-desktop);
}

.header__text-box--sub {
  display: block;
  font-size: var(--font-body-desktop);
}

:root {
  --color-font-normal: #ffffff;
  --color-primary: #B1441E;
}

:root {
  --font-heading-desktop: 3.5rem;
  --font-body-desktop: 1.5rem;
  --font-heading-tablet: 3rem;
  --spacing-heading: 1.5rem;
  --font-body-tablet: 1.3rem;
  --font-heading-mobile: 2rem;
  --font-body-mobile: 1.2rem;
  --spacing-tablet: 1.2rem;
  --spacing-mobile: 1rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-body-desktop);
  background-color: var(--color-primary);
  border-radius: 0;
  padding: 0.5rem 2rem;
  border: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  margin: 1rem 0;
}

.hamburger__bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-font-normal);
  margin: .3rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-0.6rem, 4px);
          transform: rotate(-45deg) translate(-0.6rem, 4px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-0.6rem, -4px);
          transform: rotate(45deg) translate(-0.6rem, -4px);
}

.hamburger.is-active .hamburger__bar {
  opacity: 0;
}

@media (max-width: 500px) {
  .nav__medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__medium--logo {
    width: 9rem;
  }
}

@media (max-width: 769px) {
  .container {
    padding: 0 2.4rem;
    position: relative;
  }
  .header__text-box--main {
    font-size: var(--font-heading-mobile) !important;
    letter-spacing: var(--spacing-mobile) !important;
  }
}

@media (max-width: 992px) {
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 2%;
  }
  .header__text-box--main {
    font-size: var(--font-heading-tablet);
    letter-spacing: var(--spacing-tablet);
  }
  .header__text-box--sub {
    font-size: var(--font-body-tablet);
  }
}
/*# sourceMappingURL=style.css.map */