@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&family=Mrs+Saint+Delafield&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Cormorant Garamond", serif;
}

.html {
  font-size: 62.5%;
}

.container {
  padding: 0 6.4rem;
  height: 100vh;
  position: relative;
  z-index: 1000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.navigation {
  padding: 3rem 0;
  position: relative;
}

.navigation__nav--shopping-cart {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-font-normal);
}

.navigation__nav-bar > * {
  font-size: 1.5rem;
  font-weight: 300;
}

.navigation__nav-bar > * > * {
  text-decoration: none;
  color: var(--color-font-normal);
}

.navigation__nav-bar > * > *:hover {
  color: var(--color-font-gray);
}

.navigation__logo--main {
  letter-spacing: var(--spacing-logo);
  font-weight: 300;
  text-align: center;
}

.navigation__logo--sub {
  font-size: 0.9rem;
  display: block;
  padding-top: 0.5rem;
}

.home-background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.6))), url(../img/header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.nav__medium {
  padding: 3rem 0;
}

.nav__medium--logo {
  font-weight: 300;
  letter-spacing: var(--spacing-logo);
  text-align: center;
}

.nav__medium--sub {
  font-size: 0.7rem;
  display: block;
  padding-top: 0.5rem;
}

.nav__medium--hamburger, .nav__medium--shopping-cart {
  width: 2rem;
  height: 2rem;
  fill: white;
}

.header {
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: top;
}

.header__text-box {
  color: var(--color-font-normal);
  text-align: center;
  width: 50rem;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__text-box.is-active {
  opacity: 0;
}

.header__text-box--main {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: var(--font-heading-desktop);
  font-weight: light;
}

.header__text-box--sub {
  display: block;
  font-size: var(--font-body-desktop);
  font-weight: 100;
}

.center {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --color-font-normal: #ffffff;
  --color-primary: #B1441E;
  --color-primary-dark: #000000;
  --color-font-gray: #9b9a9a;
}

:root {
  --font-heading-desktop: 3.5rem;
  --font-body-desktop: 1.5rem;
  --font-heading-tablet: 3rem;
  --spacing-heading: 1.5rem;
  --font-body-tablet: 1.3rem;
  --font-heading-mobile: 2rem;
  --font-body-mobile: 1.2rem;
  --spacing-tablet: 1.2rem;
  --spacing-mobile: 1rem;
  --spacing-logo: 0.5rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-body-desktop);
  background-color: var(--color-primary);
  border-radius: 0;
  padding: 0.5rem 2rem;
  border: none;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.btn:hover, .btn:link:hover, .btn:visited:hover {
  -webkit-transform: translateY(-2px) scale(1.05);
          transform: translateY(-2px) scale(1.05);
}

.hamburger {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  margin: 1rem 0;
  z-index: 100;
}

.hamburger__bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-font-normal);
  margin: 0.3rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-0.6rem, 4px);
          transform: rotate(-45deg) translate(-0.6rem, 4px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-0.6rem, -4px);
          transform: rotate(45deg) translate(-0.6rem, -4px);
}

.hamburger.is-active .hamburger__bar {
  opacity: 0;
}

.hamburger__nav {
  display: block;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary-dark);
  padding-top: 13rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger__nav--shopping-cart {
  fill: var(--color-font-normal);
  width: 2rem;
  height: 2rem;
}

.hamburger__nav--cart-effect:hover {
  fill: var(--color-font-gray);
}

.hamburger__nav > * {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--color-font-normal);
  font-size: var(--font-body-desktop);
}

.hamburger__nav > *:hover {
  color: var(--color-font-gray);
}

.hamburger__nav.is-active {
  right: 0;
  position: absolute;
  z-index: 99;
}

@media (max-width: 769px) {
  .header__text-box--main {
    font-size: var(--font-heading-mobile) !important;
    letter-spacing: var(--spacing-mobile) !important;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 2.4rem;
  }
  .header__text-box--main {
    font-size: var(--font-heading-tablet);
    letter-spacing: var(--spacing-tablet);
  }
  .header__text-box--sub {
    font-size: var(--font-body-tablet);
  }
}

@media (max-width: 1400px) {
  .navigation__nav-bar > * {
    padding-right: 1.7rem !important;
    font-size: 1.3rem;
  }
}

.intro__background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 390rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.8)), to(black)), url(../img/intro.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), black), url(../img/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__image {
  max-height: 56rem;
  background-image: url(../img/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */