.intro {
  &__background {
    position: relative;
    z-index: -1;
    height: 257rem;
    width: 100vw;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 1)
      ),
      url(../img/intro.jpg);
    @extend %background;
  }
  &__text {

    &--main {
      font-family: 'Mrs Saint Delafield', cursive;
    }

    &--sub {
      display: block;
      font-weight: 200;
      font-family: 'Cormorant Garamond', serif;
    }
  }

  &__image {
    &--1 {
      background-image: url(../img/intro-1.jpg);
      @extend %background;
      padding-top: calc(0.5 / 1 * 100%);
    }

    &--2 {
      background-image: url(../img/intro-2.jpg);
      @extend %background;
      padding-top: calc(0.5 / 1 * 100%);
    }

    &--3 {
      background-image: url(../img/intro-3.jpg);
      @extend %background;
      padding-top: calc(0.5 / 1 * 100%);
    }
  }
}
