.intro {
  &__background {
    position: absolute;
    z-index:-1;
    width: 100vw;
    height: 390rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 1)), url(../img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__image {
      max-height: 56rem;
       background-image: url(../img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
