.intro {
  &__background {
    width: 100vw;
    background: linear-gradient(
        rgba(0, 0, 0, 0.21),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 1)
      ),
      url(../img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__image {
    background-image: url(../img/intro-1.jpg);
    background-position: center;
    background-size: cover;
    padding-top: calc(0.5 / 1 * 100%);
  }
}
