.navigation {
  padding: 3rem 0;
  position: relative;

  &__nav {
    &--shopping-cart {
      width: 1.5rem;
      height: 1.5rem;
      //SVG -> color = fill
      fill: var(--color-font-normal);
      transition: transform 0.3s;

      &:hover {
        @include btn-transition;
      }
    }
  }

  &__nav-bar > * {
    font-size: 1.5rem;
    font-weight: 300;

    & > * {
      text-decoration: none;
      color: var(--color-font-normal);

      &:hover {
        color: var(--color-font-gray);
      }
    }
  }

  &__logo {
    &--main {
      letter-spacing: var(--spacing-logo);
      font-weight: 300;
      text-align: center;
    }

    &--sub {
      font-size: 0.9rem;
      display: block;
      padding-top: 0.5rem;
    }
  }
}

.home-background {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../img/header.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

//NAVIGATION ON TABLET
.nav__medium {
  padding: 3rem 0;

  &--logo {
    font-weight: 300;
    letter-spacing: var(--spacing-logo);
    text-align: center;
  }
  &--sub {
    font-size: 0.7rem;
    display: block;
    padding-top: 0.5rem;
  }

  &--hamburger,
  &--shopping-cart {
    width: 2rem;
    height: 2rem;
    fill: white;
    transition: transform .2s;
    }
  }
}
