.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: var(--font-body-desktop);
    background-color: var(--color-primary);
    border-radius: 0;
    padding: 0.5rem 2rem;
    border: none;
  }

}
