.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: var(--font-body-desktop);
    background-color: var(--color-primary);
    border-radius: 0;
    padding: 0.5rem 2rem;
    border: none;
    //ease the animation
    transition: transform .3s;

    &:hover {
      transform: translateY(-2px) scale(1.05);
    }
  }

}
