//////////////////////HOME PAGE/////////////////////

@media (max-width: 769px) {
  .container {
    padding: 0 2.4rem;
  }
  .header__text-box {
    &--main {
      font-size: var(--font-heading-mobile);
       letter-spacing: 0.2rem;

    }

     &--sub {
      font-size: var(--font-body-mobile);
    }
  }
}

@media (min-width: 770px) {

  .header__text-box {
    &--main {
      font-size: var(--font-heading-tablet);
      
      letter-spacing: var(--spacing-tablet);
    }

     &--sub {
      font-size: var(--font-body-tablet);
    }
  }

}

@media (min-width: 992px) {
  .header__text-box {
    &--main {
      font-size: var(--font-heading-desktop);
      letter-spacing: var(--spacing-heading);

    }

    &--sub {
      font-size: var(--font-body-desktop);
    }

   
  }

  .navigation__nav-bar > * {
    font-size: var(--font-body-desktop);
    padding-right: 1.5rem;
  }
}

@media (min-width: 1220px) {
  
  .navigation__nav-bar > * {
    font-size: var(--font-body-desktop);
    padding-right: 3rem;
  }
}