@media (max-width: 769px) {
  .intro {
    &__text {
      &--main {
        font-size: var(--font-heading-mobile);
      }

      &--sub {
        font-size: var(--font-body-mobile);
      }
    }
  }

  .reviews {
    &__text {
      font-size: var(--font-heading-mobile);
    }
  }
}
@media (min-width: 770px) {
  .intro {
    &__text {
      &--main {
        font-size: var(--font-heading-tablet);
      }

      &--sub {
        font-size: var(--font-body-tablet);
      }
    }
  }

  .reviews {
    &__text {
      font-size: var(--font-heading-tablet);
    }
  }
}

@media (min-width: 993px) {
  .intro {
    &__text {
      &--main {
        font-size: var(--font-heading-desktop);
      }

      &--sub {
        font-size: var(--font-body-desktop);
      }
    }
  }

  .reviews {
    &__text {
      font-size: var(--font-heading-desktop);
    }
  }
}
