//////////////////////HOME PAGE/////////////////////

@media (max-width: 769px) {
  .container {
    padding: 0 2.4rem;
  }
  .header__text-box {
    &--main {
      font-size: var(--font-heading-mobile) !important;
      letter-spacing: var(--spacing-mobile) !important;
    }
  }
}

@media (max-width: 992px) {
  .header__text-box {
    &--main {
      font-size: var(--font-heading-tablet);
      letter-spacing: var(--spacing-tablet);
    }

    &--sub {
      font-size: var(--font-body-tablet);
    }
  }
}

@media (max-width: 1400px) {
  .navigation__nav-bar > * {
    padding-right: 1.7rem !important;

    font-size: 1.3rem;
  }
}
